@model OkulOtomasyonu.Models.EntityFramework.Ogrenciler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detaylı Bilgi</h5>

            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <label for="input1" class="col-3 col-form-label text-sm-right mr-sm-2 btn-sm in-margin"><b>Adı:</b></label>
                    <div class="col-6">
                        @Html.DisplayFor(model => model.adi)

                    </div>
                </div>

                <div class="form-group row">
                    <label for="input1" class="col-3 col-form-label text-sm-right mr-sm-2 btn-sm in-margin"><b>Soyadı:</b></label>
                    <div class="col-6">
                        @Html.DisplayFor(model => model.soyadi)

                    </div>
                </div>

                <div class="form-group row">
                    <label for="input1" class="col-3 col-form-label text-sm-right mr-sm-2 btn-sm in-margin"><b>TC No:</b></label>
                    <div class="col-6">
                        @Html.DisplayFor(model => model.tc_no)

                    </div>
                </div>


                <div class="form-group row">
                    <label for="input1" class="col-3 col-form-label text-sm-right mr-sm-2 btn-sm in-margin"><b>Okul No:</b></label>
                    <div class="col-6">
                        @Html.DisplayFor(model => model.o_no)

                    </div>
                </div>

                <div class="form-group row">
                    <label for="input1" class="col-3 col-form-label text-sm-right mr-sm-2 btn-sm in-margin"><b>Doğum Tarihi:</b></label>
                    <div class="col-6">
                        @Model.d_tarihi.ToShortDateString()

                    </div>
                </div>

                <div class="form-group row">
                    <label for="input1" class="col-3 col-form-label text-sm-right mr-sm-2 btn-sm in-margin"><b>Adres:</b></label>
                    <div class="col-6">
                        @Html.DisplayFor(model => model.adres)

                    </div>


                    
                </div>

                <div class="modal-footer">
                    <a href="/Ogrenciler/Edit/@Model.id" class="btn btn-outline-success" id="@Model.id">Güncelle</a>
                    <a href="/Ogrenciler/Index" class="btn btn-outline-dark">Listeye Dön</a>
                </div>
            </div>
        </div>
    </div>
</div>
